*{
    padding:0;
    margin:0;
    overflow:hidden;
}
.map{
    width:320px;
    height:320px;
}
.player{
    position:absolute;
    top:0;
    left:0;
    width:32px;
    height:32px;
    background:url('../img/link.png') no-repeat;
    animation: move .3s steps(6) infinite;
}
.row{
    line-height: 0px;
}
.grass{
    display: inline-block;
    width:32px;
    height:32px;
    background:url('../img/grass.jpg') no-repeat;
}
.rock{
    display: inline-block;
    width:32px;
    height:32px;
    background:url('../img/rocks.png') no-repeat;
    background-position-y: -32px;
}
.player.top{
    animation: move .3s steps(6) infinite;
    background-position-y:0px;
}
.player.bottom{
    animation: move .3s steps(6) infinite;
    background-position-y:-64px;
}
.player.left{
    animation: move .3s steps(6) infinite;
    background-position-y:-32px;
}
.player.right{
    animation: move .3s steps(6) infinite;
    background-position-y:-96px;
}
.player.stopRunning{
    animation-play-state: paused;

}
@keyframes move{
    0%{
        background-position-x:0px;
    }
    100%{
        background-position-x:-192px;
    }
}

